$desktop-with: 1024px;

$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;

// media queries

@mixin Responsive($canvas) {
    @if $canvas ==XS {
        @media only screen and (min-width: $XS) {
            @content;
        }
    }

    @else if $canvas ==SM {
        @media only screen and (min-width: $SM) {
            @content;
        }
    }

    @else if $canvas ==MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    }

    @else if $canvas ==XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    }
}
.user {
    &__container {
        display: flex;
        flex: 1.5;
        justify-content: flex-end;
        align-items: center;
    }

    &__item {
        justify-content: flex-end;
        text-align: center;
        font-size: 1.6rem;
        margin-inline-end: 30px;
        :hover {
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

    }

    &__search {
        width: 200px;
            margin-inline-end: 30px;
            margin-inline-start: 20px;
            @include Responsive(XL) {
                width: 300px;
            }
            @include Responsive(MD) {
                width: 200px;
            }
    }
        
    &__cart {
        color: white;
        font-size: 1.8rem;
        :hover {
            cursor: pointer;
            transition: all 0.3s ease-in-out;    
        }
    }
    &__tag{
        font-size: 14px;
        font-weight: 600;
        padding-right: 8px;
        padding-left: 8px;
        color: red !important;
        margin-left: 5px;        
    }

}

.icon {
    border: none;
    color: white;
}