$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;

// media queries

@mixin Responsive($canvas) {
    @if $canvas ==XS {
        @media only screen and (min-width: $XS) and (max-width: 834px) {
            @content;
        }
    }

    @else if $canvas ==SM {
        @media only screen and (min-width: $SM) and (max-width: 1070px) {
            @content;
        }
    }

    @else if $canvas ==MD {
        @media only screen and (min-width: $MD) and (max-width: 1336px) {
            @content;
        }
    }

    @else if $canvas ==XL {
        @media only screen and (min-width: $XL) and (max-width: 1600px) {
            @content;
        }
    }
}

ul.menu {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex: 2;
    font-weight: 500;
    justify-content: space-around;
        @include Responsive(MD) {
            display: none;
        }
        @include Responsive(SM) {
        display: none;
        @include Responsive(XS) {
            display: none;
        }
        
}


li.menu {
    width: 100px;
    text-align: center;
    font-size: 1.2rem;

    &:hover {
        background-color: #ff0000 !important;
        transition: all 0.3s ease-in-out;
        cursor: pointer !important;

        }
    }
}